EMAILJS_SERVICE_ID=
EMAILJS_TEMPLATE_ID=
EMAILJS_TEMPLATE_ID_PENGIRIM=
EMAILJS_USER_ID=
CONTACT_EMAIL=
ADMIN_VERIFY_EMAIL=
EMAILJS_TEMPLATE_ID_LOGIN=

# Vite-exposed envs (recommended)
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_TEMPLATE_ID_PENGIRIM=
VITE_EMAILJS_USER_ID=
VITE_CONTACT_EMAIL=
VITE_ADMIN_VERIFY_EMAIL=
VITE_EMAILJS_TEMPLATE_ID_LOGIN=
VITE_ADMIN_PASSWORD_HASH=7bcac177e8a868355f9f03666667cee93e1f47aa11163c33ce18161e74712732
